<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></link>	
</head>
<body>
	<br></br>
	<br></br>
	<div  class="container" style="text-align:center;">
		<div><h1><span class="label label-info">Sample MQTT Subscriber</span></h1></div>
		<br></br>
		<br></br>
		<div style="display:flex;justify-content:center;align-items:center;">
		<form action="#" th:action="@{/}" th:object="${brokerConfig}"
			method="post">
			<table>
				<tr>
					<th style="padding-left:10px;">Host Name</th>
					<th style="padding-left:10px;">Port</th>
				</tr>
				<tr>
					<td style="padding-left:10px;"><input type="text" th:field="*{hostName}" /></td>
					<td style="padding-left:10px;"><input type="text" th:field="*{port}" /></td>
				</tr>
				<tr>
					<td style="padding-left:10px;padding-top:20px;" colspan="2"><button type="submit" class="btn btn-primary">Connect</button></td>
				</tr>
			</table>
		</form>
		</div>
	</div>
</body>
</html>
