<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body onload="connect()">
  <div id="randomDataChart"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="box col-md-6 col-md-offset-3">
				<h1 th:inline="text">Sample MQTT Subscriber</h1>
				<h2 th:text="${connectionStatus}"></h2>
				<form action="#" th:action="@{/showmessages}" method="post">
					<button type="submit">Disconnect</button>
				</form>
				<ul id="messages"></ul>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="resources/jquery.js" />
<script type="text/javascript" src="resources/sockjs.js" />
<script type="text/javascript" src="resources/highcharts.js" />
<script type="text/javascript" src="resources/stomp.js" />
<script type="text/javascript" src="resources/application.js" />
<script type="text/javascript" src="resources/sockjs.min.js" />
</html>
