<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></link>  
</head>
<body onload="connect()">  
	<div class="container">
		<div class="row">
			<div class="box col-md-6 col-md-offset-3">				
				<div><h1><span class="label label-success">Sample MQTT Subscriber</span></h1></div>
				<br></br>								
			</div>
		</div>
		<div id="randomDataChart"></div>
		<br></br>
		<form action="#" th:action="@{/showmessages}" method="post">
			<button type="submit" class="btn btn-danger">Disconnect</button>
		</form>
	</div>	
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/highcharts.js" ></script>
<script type="text/javascript" src="/js/application.js" ></script>
<script type="text/javascript" src="/js/sockjs.min.js" ></script>
</html>
